[Unit]
Description=Rancher server
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/opt/rancher
ExecStart=/usr/bin/docker run -d --restart=unless-stopped -p 80:8443 -p 443:443 --privileged rancher/rancher:v2.7.1
ExecStop=/usr/bin/docker stop rancher
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
